@model HomeViewModel


@{
    ViewData["Title"] = "Login";
}
<form method="post">
    <label>Username:</label><br />
    <input type="text" name="username" /><br /><br />
    <input type="submit" value="Submit" />
</form>
