@using OsuRec.Data.Models
@using OsuRec.ViewModels
@using OsuRec.Data.mock
@model RelatedBeatmapsListViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListOfRelatedBeatmaps</title>
</head>
<body>
    <h1> Beatmaps by Main Mod </h1>
    @{ 
        int i = 0;
        foreach (var RelatedBeatmap in Model.RelatedBeatmaps)
        {
            i++;
            if (i<= 10) { 
            RelatedBeatmap.SetBeatmapInfo(RelatedBeatmap);
                <div>
                <h2>Artist: @RelatedBeatmap.title</h2>
                <h2>Link: @RelatedBeatmap.beatmapLink</h2>
                <h2>Expected rank: @RelatedBeatmap.rank</h2>
                <h2>Expected pp: @RelatedBeatmap.pp</h2>
                </div>
            }
            else
            { break; }
        }
       
    }
</body>
</html>
